# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = ransel117
	email = jonatanronnberg@gmail.com
[submodule]
	recurse = true
[credential]
	helper = cache
[pull]
	rebase = false
