Xft.dpi:       96
Xft.antialias: 1
Xft.hinting:   1
Xft.hintstyle: hintmedium

URxvt.termName:    rxvt
URxvt*depth:       32
URxvt.transparent: false
URxvt.font:        xft:DejaVu Sans Mono:size=12
URxvt.scrollBar:   false
! URxvt.iconfile:

! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755:    false
URxvt.iso14755_52: false


! GRUVBOX DARK
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #EBDBB2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #CC241D
*color9:  #FB4934
! DarkGreen + Green
*color2:  #98971A
*color10: #B8BB26
! DarkYellow + Yellow
*color3:  #D79921
*color11: #FABD2F
! DarkBlue + Blue
*color4:  #458588
*color12: #83A598
! DarkMagenta + Magenta
*color5:  #B16286
*color13: #D3869B
! DarkCyan + Cyan
*color6:  #689D6A
*color14: #8EC07C
! LightGrey + White
*color7:  #A89984
*color15: #EBDBB2

